.apexcharts-tooltip-title {
  @apply text-gray-700 #{!important};
  @apply dark:text-gray-200 #{!important};
  @apply bg-white #{!important};
  @apply dark:bg-black/25 #{!important};
  border: 0 !important;
}
.apexcharts-tooltip {
  @apply text-gray-700 #{!important};
  @apply dark:text-gray-200 #{!important};
  @apply bg-neutral-200 #{!important};
  @apply dark:bg-neutral-700 #{!important};
  border: 0 !important;
  min-width: 100px !important;
}
.apexcharts-xaxistooltip {
  @apply text-gray-700 #{!important};
  @apply dark:text-gray-200 #{!important};
  @apply bg-neutral-200 #{!important};
  @apply dark:bg-neutral-700 #{!important};
}

.dark .apexcharts-text tspan {
  fill: white !important;
}

.dark .apexcharts-legend-text {
  @apply text-gray-200 #{!important};
}