nav {
  z-index: 1001;
  a {
    font-weight: bold;
    color: #2c3e50;
  }
}
#dropdownUserAvatarMenu {
  inset: 0 auto auto -10px !important;
}
#dropdownLangMenu {
  inset: 0 auto auto 0 !important;
}
@media (min-width: 768px) {
  #dropdownLangMenu {
    inset: -50px auto auto -150px !important;
  }
}