#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="date"] {
  color-scheme: light;
}

.dark input[type="date"] {
  color-scheme: dark;
}

body {
  @apply bg-gray-200;
  @apply dark:bg-gray-800;
}

div[modal-backdrop] {
	z-index: 9998;
}
.h-modal{
  z-index: 9999 !important;
}

:focus-visible {
  outline: none;
}

.swal2-popup.swal2-toast {
  background: currentColor;
  @apply bg-gray-300;
  @apply dark:bg-gray-700;
}