#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply bg-gray-200;
  @apply dark:bg-gray-800;
}

div[modal-backdrop] {
	z-index: 9998;
}
.h-modal{
  z-index: 9999 !important;
}