:focus-visible {
  outline: none;
}

:root {
  --vs-border-color: transparent !important;
}

input[type="date"] {
  color-scheme: light;
}

.dark input[type="date"] {
  color-scheme: dark;
}

.default-input {
	@apply bg-neutral-50 #{!important};
  @apply border;
  @apply border-gray-300 #{!important};
  @apply text-gray-900 #{!important};
  @apply text-sm #{!important};
  @apply rounded #{!important};
  @apply focus:ring-theme-500 #{!important};
  @apply focus:border-theme-500 #{!important};
  @apply block;
  @apply dark:bg-neutral-700 #{!important};
  @apply dark:border-gray-600 #{!important};
  @apply dark:placeholder-gray-400;
  @apply dark:text-white #{!important};
  @apply dark:focus:ring-theme-500 #{!important};
  @apply dark:focus:border-theme-500 #{!important};
}

.search-input-width {
  @apply w-full #{!important};
  @apply md:w-[500px] #{!important};
  @apply xl:w-[600px] #{!important};
}

.dark .vs__selected {
  color: white !important;
}
.dark .vs__open-indicator {
  @apply fill-neutral-400 #{!important};
}
.dark .vs__dropdown-menu {
  @apply bg-neutral-700 #{!important};
}

.vs__dropdown-option--highlight {
  @apply bg-theme-500 #{!important};
}

.vs__search::placeholder {
  @apply text-sm #{!important};
  @apply text-gray-500 #{!important};
  @apply dark:text-gray-400 #{!important};
}

.vs--multiple .vs__selected {
  @apply dark:bg-neutral-600;
  @apply dark:text-gray-300;
  .vs__deselect svg {
    @apply dark:fill-gray-300;
  }
}

//To override on build
.vs__search, .vs__search:focus {
  color: var(--vs-search-input-color) !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  line-height: var(--vs-line-height) !important;
  font-size: var(--vs-font-size !important);
  border: 1px solid transparent !important;
  border-left: none !important;
  outline: none !important;
  margin: 4px 0 0 !important;
  padding: 0 7px !important;
  background: none !important;
  box-shadow: none !important;
  width: 0 !important;
  max-width: 100% !important;
  flex-grow: 1 !important;
  z-index: 1 !important;
}