@tailwind base;
@tailwind components;
.theme-blue {
	--color-theme-50:#eff6ff;
	--color-theme-100:#dbeafe;
	--color-theme-200:#bfdbfe;
	--color-theme-300:#93c5fd;
	--color-theme-400:#60a5fa;
	--color-theme-500:#3b82f6;
	--color-theme-600:#2563eb;
	--color-theme-700:#1d4ed8;
	--color-theme-800:#1e40af;
	--color-theme-900:#1e3a8a;
}
.theme-red {
	--color-theme-50:#fef2f2;
	--color-theme-100:#fee2e2;
	--color-theme-200:#fecaca;
	--color-theme-300:#fca5a5;
	--color-theme-400:#f87171;
	--color-theme-500:#ef4444;
	--color-theme-600:#dc2626;
	--color-theme-700:#b91c1c;
	--color-theme-800:#991b1b;
	--color-theme-900:#7f1d1d;
}
.theme-purple {
	--color-theme-50:#faf5ff;
	--color-theme-100:#f3e8ff;
	--color-theme-200:#e9d5ff;
	--color-theme-300:#d8b4fe;
	--color-theme-400:#c084fc;
	--color-theme-500:#a855f7;
	--color-theme-600:#9333ea;
	--color-theme-700:#7e22ce;
	--color-theme-800:#6b21a8;
	--color-theme-900:#581c87;
}
.theme-green {
	--color-theme-50:#f0fdf4;
	--color-theme-100:#dcfce7;
	--color-theme-200:#bbf7d0;
	--color-theme-300:#86efac;
	--color-theme-400:#4ade80;
	--color-theme-500:#22c55e;
	--color-theme-600:#16a34a;
	--color-theme-700:#15803d;
	--color-theme-800:#166534;
	--color-theme-900:#14532d;
}
.theme-orange {
	--color-theme-50:#fff7ed;
	--color-theme-100:#ffedd5;
	--color-theme-200:#fed7aa;
	--color-theme-300:#fdba74;
	--color-theme-400:#fb923c;
	--color-theme-500:#f97316;
	--color-theme-600:#ea580c;
	--color-theme-700:#c2410c;
	--color-theme-800:#9a3412;
	--color-theme-900:#7c2d12;
}
.theme-yellow {
	--color-theme-50:#fefce8;
	--color-theme-100:#fef9c3;
	--color-theme-200:#fef08a;
	--color-theme-300:#fde047;
	--color-theme-400:#facc15;
	--color-theme-500:#eab308;
	--color-theme-600:#ca8a04;
	--color-theme-700:#a16207;
	--color-theme-800:#854d0e;
	--color-theme-900:#713f12;
}
@tailwind utilities;